<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Style+Script&family=M+PLUS+Code+Latin:wght@700&family=Kaushan+Script&family=Quicksand&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/3b888f4203.js" crossorigin="anonymous"></script>
        <script src="/static/js/script.js" type="module"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid" style="width: 75%">
                  <a class="navbar-brand brand-logo" href="/">Easy Buy</a>
                  <form class="d-flex nav-controls" action="/products/search" method="POST">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </button>
                        <ul class="dropdown-menu" id="dropdown-menu">
                        </ul>
                    </div>
                    <i class="fas fa-shopping-cart"></i>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                  </form>
                </div>
            </nav>
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <footer class="page-footer">
            <div class="footer-container">
                <p>Copyright © EasyBuy. All Rights<br>
                Reserved | Contact Us: +91 98989 87878”.</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
