{% extends 'base.html' %}

{% block title %}
    EasyBuy | Products
{% endblock %}

{% block body %}
    <div class="container content">
        {% if isHomePage or category %}
        <div class="mt-4 p-5 text-white rounded" id="hero">
            {% if isHomePage %}
            <h1>Welcome to EasyBuy!</h1>
            <p>Anything and everything you'd ever need, we're here for you.</p>
            {% else %}
            <h1>{{category}}</h1>
            {% endif %}
        </div>
        {% endif %}
        <div class="main-container">
            <div class="spell-check-container">
                {% if query %}
                <p class="search-spell" id="spell-check">Showing results for {{ query }}</p>
                {% endif %}
                {% if oldQuery %}
                    <form action="/products/search" method="POST" id="search-form">
                        <input type="hidden" name="query" id="query" value="{{ oldQuery }}">
                        <input type="hidden" name="isSpellChecked" id="isSpellChecked" value="{{ True }}">
                        <p class="search-spell">Search instead for : <a onclick="document.getElementById('search-form').submit()" id="old-query">{{ oldQuery }}</a></p>
                    </form>
                {% endif %}
            </div>

            {% if not products %}
                <h3 class="no-products">No products found</h3>
            {% else %}
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 col-sm-12" id="{{product.id}}">
                        <div class = "card product-card">
                            <div class="card-img-top">
                                <img src={{ product.image_url }} alt="product-image">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><a href="/products/{{product.id}}">{{ product.getShortName() }}</a></h3>
                                <p>₹{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}