{% extends 'base.html' %}

{% block title %}
    EasyBuy | {{ product.name }}
{% endblock %}

{% block body %}
<div class="container content">
    <a href="../../"><i class="fas fa-arrow-circle-left"></i></a>
    <div class="row product-container" id="{{product.id}}">
        <div class="col-sm-12 col-md-8">
            <div class="image-container">
                {% if product.image_url %}
                <img src={{ "static/images/" + product.image_url + ".jpg" }} alt="product-image">
                {% else %}
                <img src={{ "https://picsum.photos/200/300?random=" + product.id|string }} alt="product-image">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="product-details">
                <h2 class="product-name">{{product.name}}</h2>
                <p class="product-category">↳ {{ product.category }}</p>
                <p class="product-desc">{{ product.description }}</p>
                <hr>
                <p class="product-price">₹{{ product.price }}</p>
                <button class="btn btn-secondary product-buy">Add to Cart</button>
                <button class="btn btn-dark product-buy">Buy Now</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}