{% extends 'base.html' %}

{% block title %}
    EasyBuy | Products
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="mt-4 p-5 text-white rounded" id="hero">
            <h1>Welcome to EasyBuy!</h1>
            <p>Anything and everything you'd ever need, we're here for you.</p>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 col-sm-12" id="{{product.id}}">
                    <div class = "card product-card">
                        <div class="card-img-top">
                            <img src={{ "static/images/" + product.image_url + ".jpg" }} alt="product-image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="/products/{{product.id}}">{{ product.getShortName() }}</a></h3>
                            <p>₹{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}