{% extends 'base.html' %}

{% block title %}
EasyBuy | Products
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="jumbotron home-spacer hero" id="products-jumbotron">
            <h1>Welcome to EasyBuy!</h1>
            <p>Anything and everything you'd ever need, we're here for you.</p>
        </div>
        <hr>
        <div class="row text-center">
            {% for product in products %}
                <div class="col-md-3 col-sm-6 home-feature" id="{{product.id}}">
                    <div class="thumbnail">
                        <img src={{ "static/images/" + product.image_url + ".jpg" }} alt="product-image">
                        <div class="caption">
                            <h3><a href="/products/{{product.id}}">{{ product.name }}</a></h3>
                            <p>Category: {{ product.category }}</p>
                            <p>Price: {{ product.price }}</p>
                            <p>Description: {{ product.getShortDesc() }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}