:root {
  --grey: #c5c1c0;
  --black: #0a1612;
  --denim: #1a2930;
  --yellow: #f7ce3e;
  --white: #ffffff;
}

#hero {
  background-color: var(--grey);
  box-shadow: 7px 5px #1a293099;
  margin-bottom: 2rem;
}

#hero p {
  font-family: "Style Script";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-style: italic;
}

.brand-logo {
  font-family: "Kaushan Script";
  font-size: 3rem;
  height: 5rem;
  display: block;
  margin-bottom: 0.5rem;
  padding-top: 0.005rem;
  border-top: 0.3rem solid var(--grey);
  color: var(--grey);
}

.container {
  width: 80%;
}

.footer-container p {
  text-align: center;
}

img {
  width: 100%;
}

nav {
  padding: 0 !important;
}

/* body {
    margin-top: 6rem;
} */

.image-container {
  margin: 2rem;
}

.image-container img {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

h1 {
  font-family: "Style Script";
  font-size: 4rem;
}

/* @media only screen and (max-width: 600px) {
    .product-details {
        
    }
} */

.product-details {
  margin: 2rem;
}

a,
a:visited {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--grey);
}

.product-price {
  font-size: 2rem;
  margin-top: 2rem;
  border-bottom: var(--denim) 0.5rem;
  color: var(--black);
  margin-bottom: 1rem;
}

h3 {
  font-family: "Quicksand";
  font-weight: 900;
  font-size: 1.5rem;
}

.product-card p {
  color: var(---black);
  font-style: italic;
  font-size: 1.2rem;
}

.product-name {
  margin-top: 2rem;
  text-align: left;
  margin: 0;
}

.product-category {
  display: inline;
  color: var(--grey);
  padding-left: 1.8rem;
}

.product-desc {
  font-style: italic;
  margin-top: 1rem;
}

.fa-shopping-cart {
  display: inline-block;
  padding-right: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  /* align-items: center; */
  color: white;
}

.dropdown button {
  background-color: var(--grey);
}

.fa-arrow-circle-left {
  padding-top: 3rem;
  padding-left: 0rem;
  font-size: 2.5rem;
}

.product-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product-buy {
  display: block;
  margin-bottom: 1rem;
  width: 10rem;
}

.nav-controls {
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.product-card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 31.125rem;
}

.card-img-top {
  max-height: 18em;
  overflow: hidden;
}
.card-img-top img {
  border-radius: 1rem 1rem 0 0 !important;
  display: block;
}

.row div {
  margin-bottom: 1rem;
}

.no-products {
  font-family: "Quicksand";
  font-weight: 900;
  font-size: 2rem;
  margin-top: 2rem;
  display: block;
}

#spell-check {
  margin-bottom: 0;
}

.search-spell {
  font-style: italic;
  font-size: 1rem;
  margin: 0;
}

.spell-check-container {
  margin-bottom: 1.5rem;
}

#old-query:hover {
  color: var(--grey);
  text-decoration: underline;
  cursor: pointer;
}

main {
  padding-top: 2rem;
}

.spinner-grow {
  width: 4.5rem;
  margin-left: 2rem;
  visibility: hidden;
}
